*.vscode/
*DS_Store
dist*
torrent*

*.exe
*.test
*.log
*.zip

media
*.avif
*.jpg
*.png
*.mp4
*.mkv
*.webm
*.torrent
*.ts
*.txt
*.vtt
*.srt
*.aac

*token
*exhentai_test.go
*muchohentai_test.go*
get-sauce*