*.vscode
*DS_Store
dist*

*.exe
*.test
*.log
*.zip

media
*.avif
*.gif
*.jpg
*.png
*.mp4
*.mkv
*.webm
*.torrent
*.ts
*.txt
*.vtt
*.srt
*.aac

*token
get-sauce*
extractors/hentaimama/hentaimama_test.go
